@font-face {
     font-family: 'vazir';
     src: url('../fonts/Vazir.eot'),
          url('../fonts/Vazir.ttf'),
          url('../fonts/Vazir.woff'),
          url('../fonts/Vazir.woff2');
}

* {
     padding: 0;
     margin: 0;
     direction: rtl;
     font-family: 'vazir';
     box-sizing: border-box;
}

a {
     text-decoration: none;
}

.nav-top,
.nav-left {
     height: 35px !important;
}

.nav-left li {
     height: 16px;
     align-self: center;
}

.nav-left a {
     font-size: 14px !important;
     font-weight: bold !important;
     display: unset;
     position: relative;
     bottom: 3px;
}

.nav-left a:hover {
     color: gray;
}

.navbar .megamenu {
     padding: 1rem;
     min-width: 60rem !important;
     text-align: center !important;
}

/* ============ desktop view ============ */
@media all and (min-width: 992px) {

     .navbar .has-megamenu {
          position: static !important;
     }

     .navbar .megamenu {
          left: 0;
          right: -245px;
          width: 100%;
          margin-top: 0;
     }

     .product-img , .single-product
     {
          height: auto !important;
     }
}

/* ============ desktop view .end// ============ */

/* ============ mobile view ============ */
@media(max-width: 991px) {

     .navbar.fixed-top .navbar-collapse,
     .navbar.sticky-top .navbar-collapse {
          overflow-y: auto;
          max-height: 90vh;
          margin-top: 10px;
     }
}



@media only screen and (max-width : 1399.99px) {
     .product-img
     {
          height: 807px !important;
     }

}

@media only screen and (max-width : 1024px) {
     .product-img
     {
          height: auto !important;
     }

}

@media only screen and (max-width : 768px) {
     .product-img
     {
          height: auto !important;
     }

     .single-product
     {
          height: auto !important;
     }
}

@media only screen and (max-width : 425.99px) {
     .price-mobile
     {
          flex-direction: column ;
     }
}

@media only screen and (max-width : 320px) {
     .checkboxes__item
     {
          padding: 6px !important;
     }
}

.list-unstyled a {
     text-decoration: none;
     color: rgb(78, 77, 77);
     transition: all 0.5s ease-in;
     font-size: 15px;
}

.list-unstyled a:hover {
     color: rgb(126, 126, 126);
}

.nike-svg {
     padding-right: 35px;
}

.nike-svg svg {
     height: 60px;
     width: 60px;
     transform: scale(1.33);
     color: black;
}

.modal-search {
     justify-content: center !important;
}

.modal-search .modal-header {
     border-bottom: none;
}

.modal-search .modal-dialog {
     width: 100%;
     height: 100%;
     margin: 0;
     padding: 0;
     background-color: #fff;
     opacity: 1 !important;
     border: 10px solid rgba(136, 136, 136, .4);
}
/* 
.modal-backdrop {
     background-color: #fff;
     opacity: 1 !important;
     border: 10px solid rgba(136, 136, 136, .4);
} */

.modal-search .modal-content {
     width: 100%;
     border-radius: 0;
     background: none;
     box-shadow: none;
     border: none;
}

.modal-search .modal-body {
     text-align: center;
}

.modal-search .modal-body form {
     margin: 0 auto;
     float: none;
     width: 100%;
}

.modal-search .modal-body input {
     border-radius: 25px;
     background-color: rgba(235, 235, 235, 0.563);
     border: none;
}

.modal-search .modal-body input:focus {
     outline: none !important;
     box-shadow: none !important;
     background-color: rgba(221, 221, 221, 0.732);
}

.modal-search .modal-body input:hover {
     background-color: rgba(221, 221, 221, 0.732);
}

.modal-search .modal-body button {
     position: relative;
     left: 40px;
     top: 2px;
     border: none;
}

.modal-search .modal-content .close {
     opacity: 1;
     font-size: 30px;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
     border: none;
}

.close {
     background-color: transparent;
     border: none;
}

.close:hover {
     color: #808182;
}

.btn-search {
     background-color: rgba(235, 235, 235, 0.563);
     width: 170px;
     border-radius: 25px;
     height: 65%;
     margin-top: 10px;
     transition: all 0.5s ease-in;
}

.btn-search:hover {
     background-color: rgba(221, 221, 221, 0.732);
}

.btn-search svg {
     position: relative;
     top: 4px;
     right: 40px;
}

.bag {
     position: relative;
     top: 6px;
}

.nike-svg-mobile {
     width: 60px;
     transform: scale(3.33);
     color: black;
     text-align: center;
}

.navbar-mobile {
     overflow: hidden !important;
}

.nav-mobile {
     justify-content: unset !important;
}

.has-megamenu:hover .megamenu {
     display: block;
}

.dropdown-off:hover .dropdown-menu-off
{
     display: block;
}

.nav-link {
     color: black !important;
     border-bottom: 2px solid transparent;
     white-space: nowrap;
}

.nav-link:hover {
     border-bottom: 2px solid black !important;
}

.swiper {
     width: 95%;
     height: auto;
     margin-top: 40px;
}

.swiper-slide {
     display: flex;
     align-items: center;
     justify-content: center;
}

.swiper-button-prev,
.swiper-button-next {
     filter: grayscale(10);
     opacity: 0.5;
}

.swiper-slide h4 {
     color: black;
}

.swiper-slide span {
     color: black;
}

.products h4 {
     color: black;
}

.products span {
     color: black;
}

footer {
     padding: 7em 0;
}

.footer-07 {
     background: #121212;
}

.footer-07 a {
     color: #a3de83;
}

.footer-07 p {
     color: rgba(255, 255, 255, 0.3);
}

.footer-07 .footer-heading {
     font-size: 30px;
     color: #fff;
     font-weight: 700;
     margin-bottom: 30px;
}

.footer-07 .footer-heading .logo {
     color: #fff;
}

.footer-07 .menu {
     margin-bottom: 30px;
}

.footer-07 .menu a {
     color: rgba(255, 255, 255, 0.6);
     margin: 0 10px;
     text-transform: uppercase;
     letter-spacing: 1px;
}

.footer-07 .ftco-footer-social li a {
     background: transparent;
     border: 1px solid #a3de83;
}


.ftco-footer-social li {
     list-style: none;
     margin: 0 10px 0 0;
     display: inline-block;
}

.ftco-footer-social li a {
     height: 40px;
     width: 40px;
     display: block;
     background: rgba(0, 0, 0, 0.05);
     border-radius: 50%;
     position: relative;
}

.ftco-footer-social li a span {
     position: absolute;
     font-size: 20px;
     top: 53%;
     left: 50%;
     -webkit-transform: translate(-50%, -50%);
     -ms-transform: translate(-50%, -50%);
     transform: translate(-50%, -50%);
}

.ftco-footer-social li a:hover {
     color: #fff;
}

.single-product {
     padding: 20px;
     background-color: #f6f6f6;
     border-radius: 10px;
     height: 800px;
}

.single-product p {
     text-align: justify;
}

.product-img {
     background-color: #f6f6f6;
     border-radius: 10px;
     height: 800px;
}

.checkboxes {
     max-width: 700px;
     margin: 0 auto;
     display: flex;
     flex-direction: column;
}

.checkboxes__row {
     display: flex;
}

.checkboxes__row:not(:last-child) {
     border-bottom: 1px solid #eee;
}

.checkboxes__item {
     padding: 15px;
     /* width: 50%; */
}

/* STYLE color */

.checkbox {
     display: inline-block;
     position: relative;
     padding-left: 30px;
     cursor: pointer;
     -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
}

.checkbox input {
     position: absolute;
     opacity: 0;
     cursor: pointer;
     height: 0;
     width: 0;
}

.checkbox input:checked~.checkbox__checkmark {
     background-color: #eee;
}

.checkbox input:checked~.checkbox__checkmark:after {
     transform: scale(1);
}

.checkbox input:checked~.checkbox__body {
     font-weight: bold;
}

.checkbox:hover input~.checkbox__checkmark {
     background-color: #eee;
}

.checkbox:hover input:checked~.checkbox__checkmark {
     background-color: #eee;
}

.checkbox .checkbox__checkmark {
     position: absolute;
     top: 1px;
     left: 0;
     height: 22px;
     width: 22px;
     background-color: #eee;
     transition: background-color 0.25s ease;
     border-radius: 11px;
}

.checkbox .checkbox__checkmark:after {
     content: "";
     position: absolute;
     left: 0px;
     top: 0px;
     width: 22px;
     height: 22px;
     display: block;
     background-color: var(--color);
     border-radius: 50%;
     transform: scale(0);
     transition: transform 0.25s ease;
}

.checkbox .checkbox__body {
     color: var(--color);
     line-height: 1.4;
     font-size: 16px;
     transition: font-weight 0.25s ease;
}

/* STYLE size */

.checkbox.style-size {
     display: inline-block;
     position: relative;
     padding-left: 30px;
     cursor: pointer;
     -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
}

.checkbox.style-size input {
     position: absolute;
     opacity: 0;
     cursor: pointer;
     height: 0;
     width: 0;
}

.checkbox.style-size input:checked~.checkbox__checkmark {
     background-color: #eee;
}

.checkbox.style-size input:checked~.checkbox__checkmark:after {
     transform: scale(1.5);
     height: 22px;
     width: 22px;
     background-color: rgb(172, 171, 171);
}

.checkbox.style-size input:checked~.checkbox__body {
     font-weight: bold;
}

.checkbox.style-size:hover input~.checkbox__checkmark {
     background-color: #eee;
}

.checkbox.style-size:hover input:checked~.checkbox__checkmark {
     background-color: #eee;
}

.checkbox.style-size .checkbox__checkmark {
     position: absolute;
     top: -7px;
     left: 0;
     height: 22px;
     width: 22px;
     background-color: #eee;
     transition: background-color 0.25s ease;
}

.checkbox.style-size .checkbox__checkmark:after {
     content: "";
     position: absolute;
     left: 0px;
     top: 0px;
     width: 22px;
     height: 22px;
     display: block;
     background-color: #eee;
     transform: scale(1.5);
     transition: transform 0.25s ease;
}

.checkbox.style-size .checkbox__body {
     color: #020202;
     line-height: 1.4;
     font-size: 16px;
     transition: font-weight 0.25s ease;
     position: absolute;
     right: 10px;
     top: -5px;
}


.modal-cm
{
     width: 40% !important;
     margin: auto !important;
}

.fs-7
{
     font-size: 12px;
}

.filter-content
{
     width: 50% !important;
}